.center-body{
    padding: 2em 0;
}

.div-wohoo h2{
    padding-top: 2em;
}

.div-thankyou{
    background-color: #4b6176;
    color: white;
    border-radius: 5px;
    
}

.div-thankyou .content-thankyou{
    padding: 2em;
}
.content-thankyou .heading-para{
    margin-bottom:2px;
    font-size:20px;
}

.button-panel{
    background-color: #c4ecff;
}